body {
  font-family: 'PT Sans', sans-serif;
  /*background-image: url(../images/dc-online-media-mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;*/
}

article {
  width: 700px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 69px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

h1 + p {
  color: rgba(0, 0, 0, .4);
  line-height: 30px;
}

p {
  font-size: 20px;
  line-height: 34px;
  margin-top: 28px;
}

p + p {
  margin-top: 28px;
}


h1 + p + p {
  margin-top: 33px;
  margin-bottom: 33px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h2 + p {
  margin-top: 10px
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #636363;
}

ul {
  font-size: 20px;
  line-height: 34px;
}

p + ul {
  margin-top: 10px;
}

h3 {
  margin-top: 10px;
}

h3 + p {
  margin-top: 10px;
}

li {
  margin: 17px 0 17px 30px;
  list-style-type: disc;
}

p {
  margin-bottom: 33px;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.my-bold-font {
  color: black;
  font-weight: bold;
}
