.feed {
  background-color: #FAFAFA;
}

.feed.bg {
  background-image: url(../images/posts_mockup.png);
  background-size: 1440px 1507px;
  background-position: center -10px;
  background-repeat: no-repeat;
 }


.postFeed {
  padding-top: 90px;
}

.postFeed .postCard {
  display: block;
  border: 1px solid rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  background-color: #fff;
  width: 740px;
  height: 515px;
  margin: 0 auto 12px;
  padding: 20px;
  border-radius: 3px;
}

.postFeed .postCard h2 {
  font-size: 29px;
  font-weight: bold;
  line-height: 34px;

}

.postFeed .postCard p {
  font-size: 19px;
  color: rgba(0, 0, 0, .4);
  line-height: 30px;

}

.postFeed .postCard figure {
  display: block;
  width: 700px;
  height: 200px;
  background-position: center;
  background-size: 100%;
}


.postFeed a {
  text-decoration: none;
}


.postFeed a:hover {
  text-decoration: none;
}

.postFeed a + .postCard a {
  margin-top: 12px;
}

.postFeed .postCard h2 + p {
  margin-top: 15px;

}

.postFeed .postCard figure + h2 {
  margin-top: 30px;

}
